.vscode/*
__pycache__
env/*

.RData
.Rhistory
R-4.2.3/*
!R-4.2.3/etc/Rprofile.site



input/
results/
datasets/*
!datasets/scripts/
data_gathering/output/
epinow/r_lib/Epinow2/*
epinow/*.pdf
pdfs/*

*.log
logs/
epinow/EpiNow2-main
